.slider .thumb {
    -fx-background-color: #00d4ff;
    -fx-padding: 12;
    -fx-background-radius: 12;
}

.slider .track {
    -fx-background-color: #0f3460;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-pref-height: 10;
}

.slider:hover .thumb {
    -fx-background-color: #00b8e6;
}
